{
  "machine": {
    "gpu": 0,
    "cpu": 1000,
    "ram": 100
  },
  "job": {
    "APIVersion": "V1beta1",
    "Spec": {
      "Deal": {
        "Concurrency": 1
      },
      "Docker": {
        "Entrypoint": [
            "python3", "model.py","{\"Address\":\"f01927170\",\"AdjustedPower\":33.67,\"WinCount\":6130,\"SectorTotal\":110328,\"SectorActive\
":110328,\"SectorFaults\":0,\"SectorRecoveries\":0,\"LoanAmount\":\"1000\"}"
        ],
        "Image": "sibasismalla/bacalhau:latest@sha256:c1a08bdce75ddbd304c9a8b9ab496cd0415b480e776a1fe4521b0360623d819d"
      },
      "Engine": "Docker",
      "Network": {
        "Type": "None"
      },
      "PublisherSpec": {
        "Type": "Estuary"
      },
      "Resources": {
        "GPU": ""
      },
      "Timeout": 10000,
      "Verifier": "Noop"
    }
  }
}
