{
  "machine": {
    "gpu": 0,
    "cpu": 1000,
    "ram": 100
  },
  "job": {
    "APIVersion": "V1beta1",
    "Spec": {
      "Deal": {
        "Concurrency": 1
      },
      "Docker": {
        "Entrypoint": [
               "/bin/sh", "-c", "python3 app/hello.py"
        ],
        "Image": "sibasismalla/test:latest@sha256:2c07954e83e17916faaa6878450a280b41213dd897e8d53e4174b959c44f7166"
      },
      "Engine": "Docker",
      "Network": {
        "Type": "None"
      },
      "PublisherSpec": {
        "Type": "Estuary"
      },
      "Resources": {
        "GPU": ""
      },
      "Timeout": 10000,
      "Verifier": "Noop"
    }
  }
}
