{
  "machine": {
    "gpu": 0,
    "cpu": 1000,
    "ram": 100
  },
  "job": {
    "APIVersion": "V1beta1",
    "Spec": {
      "Deal": {
        "Concurrency": 1
      },
      "Docker": { },
        "EngineSpec": {
                "Params": {
                "Entrypoint": null,
                "EnvironmentVariables": [
                ],
                "Image": "sibasismalla/bacalhau:latest",
                "Parameters": [
                ],
                "WorkingDirectory": ""
                },
                "Type": "docker"
            },
      "Engine": "Docker",
      "Network": {
        "Type": "None"
      },
      "PublisherSpec": {
        "Type": "Estuary"
      },
          "Outputs": [
                {
                "Name": "outputs",
                "Path": "/outputs"
                }
            ],
      "Resources": {
        "GPU": ""
      },
      "Timeout": 10000,
      "Verifier": "Noop"
    }
  }
}
